@charset "UTF-8";
html {
  margin-top: 0 !important;
}
header {
  height: 100px;
}
header .hd {
  background-color: #e7f0ec;
}
h1 {
  font-weight: bold;
}

.service01 {
  padding: 240px 0 120px;
}
.service01_inn {
  display: flex;
  justify-content: flex-end;
  padding-left: 10%;
}
.service_txt_box {
  max-width: 560px;
  width: 33%;
  margin-right: calc((200 / 1720) * 100%);
}
.service_img {
  max-width: 960px;
  width: 56%;
}
.service_txt {
  font-size: 1vw;
  line-height: 2;
}
.service02 {
  background-color: #e7f0ec;
  padding: 120px 0;
  z-index: 2;
  position: relative;
}
.service02_box {
  display: flex;
  align-content: center;
  padding-right: 10%;
  margin-bottom: 120px;
  position: relative;
}
.service02_box:after {
  content: "";
  display: inline-block;
  width: 38%;
  height: 100%;
  background: url(../images/service/bg_round.png) no-repeat;
  background-size: cover;
  position: absolute;
  bottom: -82%;
  left: 3%;
  z-index: -1;
}
.service02_box .service_txt_box {
  margin-left: calc((200 / 1720) * 100%);
}
.service02 p {
  line-height: 2;
}

.shops {
  max-width: 1096px;
  margin: 0 auto;
}
.shops_list {
  max-width: 1096px;
  margin: 0 auto;
}
.shops_list > div {
  display: flex;
  justify-content: space-between;
}
.shops_list > div:not(:last-child) {
  border-bottom: 1px solid #dadada;
  padding-bottom: 40px;
  margin-bottom: 40px;
}
.shops_list .shops_slider {
  max-width: 600px;
  width: 60%;
}
.shops_list .shops_detail {
  width: 38%;
}
.shops_list h3 {
  font-size: 32px;
  color: #3a3a3a;
  font-weight: bold;
  margin-bottom: 10px;
}
.shops_detail .shops_lead {
  font-size: 15px;
  margin-bottom: 64px;
}
.shops_detail .shops_info {
  line-height: 1.5;
}
.shops_detail .icon_insta {
  width: 40px;
  height: 40px;
  margin: 24px 0;
}
.btn_service {
  font-size: 18px;
  font-weight: bold;
  width: 240px;
  display: block;
  background-color: #fff;
  border: 2px solid #3a3a3a;
  border-radius: 30px;
  padding: 10px 0 10px 32px;
}
.btn_service p {
  position: relative;
}
.btn_service p:after {
  content: "";
  display: inline-block;
  width: 28px;
  height: 28px;
  background: url(../images/service/arrows_d.svg) no-repeat;
  background-size: cover;
  position: absolute;
  top: 50%;
  right: 5%;
  transform: translateY(-50%);
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
}

.service03 {
  padding: 240px 0 120px;
}
.service03_inn {
  display: flex;
  justify-content: flex-end;
  padding-left: 10%;
}
.service03 p {
  line-height: 2;
}

/* サービスページのスライダー */
.slider_service {
  margin: 0 auto;
  max-width: 600px;
  width: 80%;
}
.slider_service .slick-img img {
  height: auto;
  width: 100%;
  border-radius: 16px;
}

/* スライダー */
.slider {
  width: 94%;
}

.slick-initialized li {
  width: 584px !important;
}

.slider img {
  width: 100%;
  height: auto;
  border-radius: 24px;
}

.slick-prev,
.slick-next {
  position: absolute;
  top: 42%;
  cursor: pointer;
  outline: none;
  border-top: 2px solid #666;
  border-right: 2px solid #666;
  height: 15px;
  width: 15px;
}

.slick-prev {
  left: -1.5%;
  transform: rotate(-135deg);
}

.slick-next {
  right: -1.5%;
  transform: rotate(45deg);
}

/*ドットナビゲーションの設定*/
.slick-dots {
  text-align: center;
  bottom: -44px;
}

.slick-dots li {
  display: inline-block;
  width: unset !important;
}

.slick-dots li:not(:last-child) {
  margin-right: 16px;
}

.slick-dots button {
  color: transparent;
  outline: none;
  width: 10px;
  height: 10px;
  display: block;
  border-radius: 50%;
  background: #dadada;
}

.slick-dots .slick-active button {
  background: #3a3a3a;
}

.slick-prev,
.slick-next,
.slick-prev:before,
.slick-next:before,
.slick-dots li button:before {
  display: none !important;
}

.slick-dots li button {
  width: 10px;
  height: 10px;
  background: #dadada;
}

@media all and (min-width: 481px) {
  header .hd {
    padding: 14px 40px;
  }
  .service01_box .service_img img,
  .service03_box .service_img img {
    border-radius: 24px 0 0 24px;
  }
  .service02_box .service_img img {
    border-radius: 0 24px 24px 0;
  }
}
@media all and (max-width: 480px) {
  header {
    height: 60px;
  }
  .service01 {
    padding: 60px 20px 40px;
  }
  .service01_inn {
    display: block;
    padding-left: 0;
  }
  .service_txt_box {
    width: 100%;
    margin-right: 0;
  }
  .sub_ttl_en {
    margin-bottom: 10px !important;
  }
  .sub_ttl_ja {
    margin-bottom: 0 !important;
  }
  .service_txt {
    font-size: 16px;
  }
  .service_img {
    width: 100%;
    margin-top: 10px;
    margin-bottom: 10px;
  }
  .service_img img {
    border-radius: 24px;
  }
  .service02 {
    padding: 40px 20px;
  }
  .service02_box {
    flex-direction: column-reverse;
    padding-right: 0;
    margin-bottom: 40px;
  }
  .service02_box .service_txt_box {
    margin-left: 0 !important;
  }
  .service02_box:after {
    display: none;
  }
  .shops_list > div {
    display: block;
  }
  .slick-dots {
    bottom: -34px;
  }
  .shops_list .shops_slider {
    width: 100%;
    margin-bottom: 40px;
  }
  .shops_list .shops_detail {
    width: 100%;
  }
  .shops_detail .shops_lead {
    margin-bottom: 20px;
  }
  .service03 {
    padding: 40px 20px 60px;
  }
  .service03_inn {
    display: block;
    padding-left: 0;
  }
  .slick-initialized li {
    width: 308px !important;
  }
  .slick-dots li {
    width: unset !important;
  }
}

@media all and (max-width: 480px) {
  #service img {
    width: 332px;
    height: 235px;
    display: block;
  }
  .slider_service .slick-img img {
    width: 332px;
    height: 235px;
  }
  #service .icon_insta img {
    width: unset;
    height: unset;
  }
}
